@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url(animations.css);

:root {
    --color1: rgb(247, 250, 228);
    --color2: rgb(158, 171, 139);
    --color3: rgb(134, 130, 126);
    --color4: rgb(178, 197, 66);
    --color5: rgb(62, 95, 25);
}

@media only screen and (max-width: 650px) {
    * {
        font-family: "Montserrat", sans-serif;
        scroll-behavior: smooth;
    }
    
    body {
        margin: 0;
    
        overflow-x: hidden;
        overflow-y: scroll;
    
        min-height: 100vh;
        width: 100vw;
    
        background-color: var(--color5);
    
        padding-top: 10%;
    }
    
    a {
        text-decoration: none;
        color: var(--color5);
    }
    
    header {
        position: absolute;
        top: 0;
    
        width: 100vw;
        height: 10%;
    
        background-color: var(--color4);
    
        display: flex;
        align-items: center;
    
        margin-bottom: 0;
    }
    
    header img {
        width: 7.5%;
        position: absolute;
    
        left: 2.5%;
    
        cursor: pointer;
    }
    
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        width: 20%;
    
        margin-right: 5%;
        margin-left: auto;
    }
    
    header .nav a {
        font-size: 2vw;
    }
    
    header .nav button {
        background-color: transparent;
        border: none;
        color: var(--color5);
        cursor: pointer;
    }
    
    .hidden {
        display: none !important;
        transition: 0.2s;
    }
    menu {
        position: absolute;
        right: 0%;
        top: 10vh;
    
        margin: 0;
        padding: 1%;
    
        background-color: var(--color5);
    
        display: flex;
        flex-direction: column;
    
        border-bottom-left-radius: 1rem;
    
        transition: 0.2s;
    }
    
    menu a,
    i {
        color: var(--color1);
        margin: 2.5% 0;
    
        cursor: pointer;
    }
    
    #menuButton {
        font-size: 2vw;
    
        transition: 0.2s;
    }
    .menuEl {
        transition: 0.2s;
        font-size: 1vw;
    }
    .menuEl:hover {
        color: var(--color1);
    
        scale: 0.95;
        }
    .menuEl:active {
        transform: scale(1.1);
        }
    
    * {
        box-sizing: border-box;
        max-width: 100vw;
    }
    
    html {
        scroll-snap-type: none;
        height: auto;
        width: auto;
    }
    
    body {
        background-color: var(--color1);
        overflow-x: hidden;
    
        width: 100vw;
    }
    
    main {
        overflow: hidden;
        overflow-x: hidden;
    
        margin: 0;
    }
    
    header {
        width: 100%;
        img {
            width: 12.5vw;
            left: 5%;
        }
        
        menu {
            top: 9.45vh;
            padding: 2%;
        }
        
        .menuEl {
            font-size: 3vw;
        }
        
        .nav {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        
            margin-right: 7.5%;
            width: 45vw;
        }
        
        .nav a {
            font-size: 5vw;
        }
        #menuButton {
            font-size: 5vw;
            display: flex;
        }


    }

    .box1{
        margin-top: 10%;
    }

    div{
        margin: auto;

        width: 85vw;

        overflow: hidden;
    }
    
    h4{
        font-size: 7.5vw;
        margin: 0;
        margin-top: 5%;

        color: var(--color5);
    }

    p{
        font-size: 3vw;
        margin-bottom: 5%;
    }
    img{
        width: 80vw;
        height: auto;
    }

    .line{
        margin: 5% auto 0 auto;
        width: 85%;
        height: 1px;

        background-color: var(--color5);
    }
}