@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color1: rgb(247, 250, 228);
  --color2: rgb(158, 171, 139);
  --color3: rgb(134, 130, 126);
  --color4: rgb(178, 197, 66);
  --color5: rgb(62, 95, 25);
}

* {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;

  overflow-x: hidden;
  overflow-y: scroll;

  min-height: 100vh;
  width: 100vw;

  background-color: var(--color5);
}

a {
  text-decoration: none;
  color: var(--color5);
}

section {
  overflow: hidden;
  scroll-snap-align: start;
}

header {
  position: absolute;
  top: 0;

  width: 100vw;
  height: 10%;

  background-color: var(--color4);

  display: flex;
  justify-content: right;
  align-items: center;

  margin-bottom: 0;
}

header img {
  width: 7.5%;
  position: absolute;

  left: 2.5%;

  cursor: pointer;
}

header .nav {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 20%;

  margin-right: 5%;
}

header .nav a {
  font-size: 2vw;
}

header .nav button {
  background-color: transparent;
  border: none;
  color: var(--color5);
  cursor: pointer;
}

menu {
  position: absolute;
  right: 0%;
  top: 10vh;

  margin: 0;
  padding: 1%;

  background-color: var(--color5);

  display: flex;
  flex-direction: column;

  border-bottom-left-radius: 1rem;

  transition: 0.2s;
}
.hidden {
  display: none;
  transition: 0.2s;
}

menu a,
i {
  color: var(--color1);
  margin: 2.5% 0;

  cursor: pointer;
}

#menuButton {
  font-size: 2vw;

  transition: 0.2s;
}
.menuEl {
  transition: 0.2s;
  font-size: 1vw;
}
.menuEl:hover {
  color: var(--color1);

  scale: 0.95;
}
.menuEl:active {
  transform: scale(1.1);
}

#section1 {
  width: 100vw;
  height: 100vh;

  background-image: url(../img/mainBg.png);
  background-repeat: no-repeat;
  background-size: 101vw;

  display: flex;
  align-items: center;

  margin-top: auto;

  padding: 0 2.5%;

  overflow: hidden;
}

#section2 {
  width: 100vw;
  height: 95vh;

  background-image: url(../img/section2Bg.png);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#section1 button {
  position: absolute;
  bottom: 0%;
  left: 50%;

  background-color: var(--color5);
  padding: 1% 2%;

  border: none;
  outline: none;
  border-radius: 100rem;

  font-size: 5vw;
  text-align: center;

  transition: 0.2s;
}
#section1 button:hover {
  background-color: var(--color4);
  scale: 1.1;
}
#section1 button:active {
  scale: 1.05;
}

.imgContainer {
  width: 30vw;
  overflow: hidden;
}

.imgContainer img {
  width: 100%;
}

.txtContainer {
  margin-left: 10%;
}

.txtContainer h1 {
  color: var(--color5);

  font-size: 7.5vw;
}
.txtContainer p {
  font-size: 2.5vw;
}
.eco {
  color: var(--color5);
  font-weight: 600;
}

.section2main {
  width: 25%;
  background-color: var(--color1);

  font-size: 2vw;
}

#visao {
  border-top-right-radius: 2.5vw;
  border-bottom-right-radius: 2.5vw;

  padding-left: 2.5%;
  padding-right: 2.5%;
}
#visao h1 span {
  color: var(--color2);
  font-size: 5vw;
}

#valores {
  border-top-left-radius: 2.5vw;
  border-bottom-left-radius: 2.5vw;

  padding-left: 2.5%;
  padding-right: 5%;
  text-align: right;
  width: 30%;
}
#valores h1 span {
  color: var(--color2);
  font-size: 5vw;
}

.aling-left{
  text-align: left !important;
  margin-left: 10%;
}

footer {
  background-color: var(--color5);

  margin: 0;

  width: 100vw;
  height: 20vw;

  scroll-snap-align: start;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

footer h1 {
  color: var(--color1);
  font-size: 5vw;
}

.infos {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.createContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;
}
.loginContainer {
  display: none;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;
}
.sucess {
  display: none;
  flex-direction: column;
  align-items: center;

  height: 100%;
  width: 100%;
}
.sucess h1 {
  color: var(--color1);
  font-size: 5vw;
  text-align: center;

  margin-top: 2.5%;
}
#userName {
  color: var(--color4);
}
.light {
  font-size: 10vw;
  color: var(--color4);
}
#storeButton {
  padding: 1% 2%;
  background-color: var(--color4);

  border: none;
  border-radius: 5rem;

  font-size: 2vw;
  font-weight: 500;

  color: var(--color5);

  cursor: pointer;

  transition: 0.2s;
}
#storeButton:hover {
  background-color: var(--color3);
  color: var(--color1);
  scale: 1.1;
}
#storeButton:active {
  scale: 1.05;
}

.info {
  color: var(--color1);
  font-size: 1vw;

  position: absolute;
  bottom: -57.5%;
  left: 2%;
}

.formEl {
  width: 30%;

  background-color: var(--color4);
  color: var(--color1);

  border-radius: 2rem;
  border: none;

  padding: 1% 2%;
  margin: auto 2.5%;

  font-size: 2vw;

  outline: none;

  transition: 0.2s;
}
.formEl:focus {
  background-color: var(--color3);
  color: var(--color1);
}

.submit {
  padding: 2% 5%;

  margin: 2.5%;

  border: none;
  border-radius: 2rem;

  font-size: 2vw;
  font-weight: 600;

  background-color: var(--color2);
  color: var(--color1);

  cursor: pointer;

  transition: 0.2s;
}
.submit:hover {
  background-color: var(--color1);
  color: var(--color2);
}
.submit:active {
  transform: scale(0.95);
}

#changeForm {
  color: var(--color1);

  position: absolute;
  bottom: -65%;
  right: 5%;

  font-size: 2vw;

  cursor: pointer;
}
#changeForm:hover {
  text-decoration: underline;
}

#msg {
  color: red;
  background-color: var(--color3);

  padding: 1% 2%;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 70%;

  border-radius: 2rem;

  font-size: 2vw;
  font-weight: 600;

  visibility: hidden;
}

#msgBox {
  position: fixed;
  top: 15%;
  left: 0;

  background-color: red;
  color: var(--color1);
  font-size: 1.5vw;

  padding: 1% 2%;
  width: 33%;

  overflow-wrap: break-word;

  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;

  display: none;
}

/*Mobile Widht*/
@media only screen and (max-width: 650px) {
  * {
    box-sizing: border-box;
    max-width: 100vw;
  }

  html {
    scroll-snap-type: none;
    height: auto;
    width: auto;
  }

  body {
    background-color: var(--color5);
    overflow-x: hidden;

    width: 100vw;
  }

  main {
    overflow: hidden;
    overflow-x: hidden;

    margin: 0;
  }

  header {
    width: 100%;
    img {
      width: 12.5vw;
      left: 5%;
    }

    menu {
      top: 9.45vh;
      padding: 2%;
    }

    .menuEl {
      font-size: 3vw;
    }

    .nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      margin-right: 7.5%;
      width: 45vw;
    }

    .nav a {
      font-size: 5vw;
    }
    #menuButton {
      font-size: 5vw;
      display: flex;
    }
  }

  #section1 {
    width: 100vw;
    height: auto;

    margin-top: 10%;

    overflow-x: hidden;

    background-image: none;

    background-color: #fdfdfd;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    .imgContainer {
      width: 60%;
      margin-top: 15%;
      margin-left: auto;
      margin-right: auto;
    }

    .txtContainer {
      width: 95%;

      margin-top: 10%;
      margin-bottom: auto;
    }
    .h1 {
      font-size: 5vw;
      margin-right: 10%;

      color: var(--color3);

      font-weight: 600;
    }
    .txtContainer p {
      font-size: 5vw;
      margin-right: 10%;
    }
    .ino {
      font-size: 10vw;
      color: var(--color4);
      font-weight: 700;
    }

    #sec2Arrow {
      display: none;
    }
  }

  #section2 {
    width: 100vw;

    background-position: 45% center;

    overflow-x: hidden;

    align-items: normal;

    .section2main {
      font-size: 4vw;
      border: 1px var(--color2) solid;

      justify-content: space-between;
    }

    #visao {
      width: 200%;
      height: fit-content;

      margin-left: 0;
      margin-top: 15%;
    }

    #valores {
      width: 200%;
      height: fit-content;

      margin-top: 45vh;

      text-align: left;

      h1,
      span {
        text-align: right;
      }
      ul li {
        text-align: left;

        margin-top: 2.5%;
        margin-bottom: 2.5%;
      }
    }
  }

  footer {
    overflow: hidden;
    height: auto;

    * {
      overflow-y: hidden;
    }
    #changeForm {
      bottom: 0;
    }
    .info {
      bottom: 0;
      font-size: 1.5vw;
    }
    .formTitle {
      font-size: 12.5vw;
      margin-bottom: 8.75%;
    }

    .infos {
      width: 100vw;

      flex-direction: column;
      align-items: center;
    }
    .infos input {
      width: 70%;

      font-size: 5vw;

      margin-top: 1.25%;
      margin-bottom: 1.25%;
    }
    .createContainer button,
    .loginContainer button {
      font-size: 5vw;

      margin-bottom: 10%;
    }

    #changeForm {
      font-size: 3vw;
    }

    #storeButton {
      font-size: 5vw;
      margin-bottom: 10%;
    }
    #msg {
      width: 60%;
      bottom: 60%;
      font-size: 6vw;
      padding-left: 5%;
      padding-right: 5%;
    }
  }
  #msgBox {
    top: 25%;
    width: 70vw;
    font-size: 5vw;
  }
}
